body {
  /* Native Font Stack: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
  /* Remove default margins */
  margin: 0px;
}

#title {
  border-color: #cccccc;
  border-width: 1px;
  border-style: solid;
  margin: 5px 15px;
  padding: 10px;
}

.layout {
  display: flex;
  padding: 5px 15px;
}

.menu {
  font-size: 0.8rem;
  flex-shrink: 0;
  align-self: start;
  width: 150px;
  margin: 5px 15px 5px 0px;
  padding: 8px;
  border: 1px solid #cccccc;
  background: #efefef;
}

.menu strong {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu ul {
  padding-left: 15px;
  margin-top: 5px;
}

.menu a {
  color: #000000;
  text-decoration: underline dotted;
}

.menu a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
}

.content a {
  color: #000000;
  text-decoration: underline;
}

h1 {
  margin: 0px;
  padding: 0px;
}

h2 {
  border-bottom: 1px solid #cccccc;
  margin: 16px 0 0;
  padding: 0px;
}

h3 {
  border-bottom: 1px solid #cccccc;
  margin: 16px 0 0;
  padding: 0px;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
}

p {
  margin: 16px 0 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.iconlink a {
  text-decoration: none;
}

.iconlink span {
  font-weight: bold;
  vertical-align: middle;
}

.iconlink img {
  vertical-align: middle;
}
