<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"
        ><i class="fa fa-home"></i
      ></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ site.baseurl }}opensource-projects.html">OPEN SOURCE</a>
        </li>
        <li><a href="{{ site.baseurl }}blogs.html">BLOGS</a></li>
        <li>
          <a href="https://www.linkedin.com/in/martin-hare-robertson-b8802019/"
            >RESUME</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
