<header>
  <div class="container">
    <span class="header-brand"><a href="/">Martin Hare Robertson</a></span>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <span class="navicon" />
    </label>

    <nav class="menu">
      <a href="/climate-change.html">Climate Change</a>
      <a href="/effective-altruism.html">Effective Altruism</a>
      <a href="/reading.html">Reading</a>
      <a href="/opensource-projects.html">Open Source</a>
      <a href="https://www.linkedin.com/in/martin-hare-robertson-b8802019/">Resume</a>
    </nav>
  </div>
</header>
