<nav id="header" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Martin Hare Robertson</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/climate-change.html">Climate Change</a>
        </li>
        <li>
          <a href="/effective-altruism.html">Effective Altruism</a>
        </li>
        <li>
          <a href="/reading.html">Reading</a>
        </li>
        <li>
          <a href="/opensource-projects.html">Open Source</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/martin-hare-robertson-b8802019/">Resume</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
