/* Main page with sticky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  /* Native Font Stack: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;

  /* https://stackoverflow.com/questions/69212377/push-footer-to-the-bottom-of-a-short-page */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  border-top: 30px solid #2067a7;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-image: url("/static/img/climate-stripe-1850-2024.png") 1 0 0 0;
  min-height: auto;
}
footer {
  margin-top: auto;
  border-bottom: 5px solid #2067a7;
  border-image: url("/static/img/climate-stripe-1850-2024.png") 1;
  text-decoration: none !important;
}
.text-muted {
  color: #6b6b6b;
}

/* https://janessagarrow.com/blog/pure-css-hamburger-menu/
-------------------------------------------------- */
header .container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
}

.header-brand {
  font-size: 18px;
  line-height: 20px;
  padding: 15px 15px 15px 0px;
  margin-right: auto;
}

header a {
  text-decoration: none;
}

/* "Hide" checkbox -- moves it off screen*/
#menu-btn {
  position: absolute;
  top: -100%;
  left: -100%;
}

/* Hide hamburger for bigger screens */
.menu-icon {
  visibility: hidden;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -15px;
}

.menu a {
  padding: 15px;
}

@media screen and (max-width: 800px) {
  header .container {
    display: grid;
    grid-template-areas:
      "title   title   hamburger"
      "nav     nav     nav";
    justify-content: stretch;
  }

  .header-brand {
    grid-area: title;
  }

  .menu a {
    text-decoration: none;
    color: black;
  }

  .menu-btn {
    display: none;
  }

  .menu-icon {
    grid-area: hamburger;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding: 15px 0;
    position: relative;
    user-select: none;
    visibility: visible;
  }

  .navicon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
  }

  .navicon:before {
    top: 5px;
  }

  .navicon:after {
    top: -5px;
  }

  .navicon:before,
  .navicon:after {
    background: #333;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 0.2s ease-out;
  }

  .menu {
    grid-area: nav;
    max-width: unset;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .menu a {
    color: #2067a7;
    padding: 10px 0;
    width: 100%;
    text-align: right;
  }

  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon:before,
  .menu-btn:checked ~ .menu-icon .navicon:after {
    top: 0;
  }
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 900px;
  text-align: left;
}
footer .container {
  margin-top: 20px;
  border-top: 1px solid #ddd;
}
#about .avatar {
  text-align: center;
}
#about .avatar {
  padding-top: 10px;
}
#about .avatar img {
  max-width: 250px;
}
#about p {
  margin-top: 20px;
  font-size: 1.6rem;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #2067a7;
}
.container a:hover {
  color: #133e64;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
  text-align: center;
}
.social h4 > a {
  color: #000000;
}
.page-not-found {
  padding-top: 20%;
}
.quote {
  font-style: italic;
}
.flex {
  display: flex;
}
.flex div img {
  max-width: 100%;
}
.container img {
  max-width: 60%;
}
@media (max-width: 800px) {
  .container img {
    max-width: 100%;
  }
}
