/* Main page with sticky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  /* Native Font Stack: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;

  /* https://stackoverflow.com/questions/69212377/push-footer-to-the-bottom-of-a-short-page */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#header {
  border-top: 30px solid #2067a7;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-image: url("/static/img/climate-stripe-1850-2022.jpg") 1 0 0 0;
  min-height: auto;
}
footer {
  margin-top: auto;
  border-bottom: 5px solid #2067a7;
  border-image: url("/static/img/climate-stripe-1850-2022.jpg") 1;
  text-decoration: none !important;
}
.text-muted {
  color: #6b6b6b;
}

/* Navbar
-------------------------------------------------- */

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2067a7;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2067a7;
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 1000px;
  text-align: left;
}
#footer .container {
  margin-top: 20px;
  border-top: 1px solid #ddd;
}
#about .avatar {
  text-align: center;
}
#about .avatar {
  padding-top: 10px;
}
#about .avatar img {
  max-width: 250px;
}
#about p {
  margin-top: 20px;
  font-size: 1.6rem;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #2067a7;
}
.container a:hover {
  color: #133e64;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
  text-align: center;
}
.social h4 > a {
  color: #000000;
}
.page-not-found {
  padding-top: 20%;
}
.quote {
  font-style: italic;
}
.flex {
  display: flex;
}
.flex div img {
  max-width: 100%;
}
.container img {
  max-width: 60%;
}
@media (max-width: 800px) {
  .container img {
    max-width: 100%;
  }
}
