<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="style.css" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5764425-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>

<div id="title">
<h1>Mchr3k Projects</h1>
</div>

<div class="colmask leftmenu">
    <div class="colright">
        <div class="col1wrap">
            <div class="col1">

              {{ content }}

            </div>
        </div>
        <div class="col2">
<div class="navwrapper">
<a href="./">Home</a><br>
<br>
<strong>Projects</strong>
<br>
<ul class="nav">
<li><a href="org.intrace/">InTrace</a>
<li><a href="org.inmemprofiler/">InMemProfiler</a>
<li><a href="javathreaddumpanalyser/">Java Thread Dump Analyser</a>
<li><a href="jlta/">Java Live Thread Analyser</a>
<li><a href="swtjar/">SWTJar</a>
<li><a href="emmacheck/">EmmaCheck</a>
<li><a href="jdeclipse-realign/">JDEclipse-Realign</a>
<li><a href="codetrails/">Code Trails</a>
<li><a href="jacoco/">jacoco</a>
<li><a href="arduino-libs-manchester/">Arduino Manchester Encoding</a>
</ul>
<br>
<strong>My Other Sites</strong>
<br>
<ul class="nav">
<li><a href="http://mchr3k-arduino.blogspot.com/">Arduino Blog</a>
<li><a href="http://mchr3k-coding.blogspot.co.uk/">Coding Blog</a>
<li><a href="http://www.guineapigdreams.co.uk/">Guinea Pig Dreams</a>
</ul>
</div>

<!-- START CLIENT.YESADVERTISING CODE -->
<script language="javascript" type="text/javascript" charset="utf-8">
var cpxcenter_banner_border = '#999999';
var cpxcenter_banner_text = '#000000';
var cpxcenter_banner_bg = '#ffffff';
var cpxcenter_banner_link = '#000000';
cpxcenter_width = 160;
cpxcenter_height = 600;
</script>
<script language="JavaScript" type="text/javascript" src="//ads.cpxcenter.com/cpxcenter/showAd.php?nid=4&amp;zone=29885&amp;type=banner&amp;sid=23091&amp;pid=22762&amp;subid=">
</script>
<!-- END CLIENT.YESADVERTISING CODE -->

        </div>
    </div>
</div>

</body>

</html>
